{% extends 'base.html' %}

{% block title %}パスワードリセット|牛飲馬食{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style">
            <h1>{% if token_fail %}不正トークン{% else %}パスワードリセット{% endif %}</h1>

            {% if token_fail %}
            {% url 'account_reset_password' as password_reset_url %}
            <p>このパスワードリセット用リンクは無効になっています。　<a href="{{password_reset_url}}">パスワードリセット再申請</a></p>
            {% else %}
                {% if form %}
                    <form method="POST" action="{{action_url}}">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button class="btn btn-primary" type="submit">変更</button>
                    </form>
                {% else %}
                    <p>パスワードは変更されています。</p>
                {% endif %}
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}