body, #wrapper{
    display:flex;
    flex-direction: column;
    min-height:100vh;
    color:#fff;
}

footer {
    margin-top:auto;
}

.my-div-style{
    margin-top:6rem;
}

.datepicker-days th.dow:first-child,
    .datepicker-days td:first-child {
        color: #f00;
    }
.datepicker-days th.dow:last-child,.datepicker-days td:last-child {
        color: #00f;
    }


#wrapper{
    background-image:url(../img/restaurant.jpg);
    background-size: cover;
}