{% extends 'base.html' %}

{% load static %}

{% block title %}共有一覧 | Share List{% endblock %}

{% block active_restaurant %}active{% endblock %}

{% block head %}
<link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style w-100">
            <h1 class="col-lg-8 col-md-10 mx-auto">共有一覧</h1>
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="clearfix">
                </div>
                {% for restaurant in restaurant %}
                <div class="post-preview">
                    <a href="{% url 'restaurant:share_detail' restaurant.pk %}">
                        <h2 class="post-title">
                            店舗名：{{restaurant.store}}
                        </h2>
                    </a>
                </div>
                <hr>
                {% empty %}
                <p>店舗がありません。</p>
                {% endfor %}

                <!-- ページネーション処理 -->

                {% if is_paginated %}
                <ul class="pagination">
                    <!-- 前ページへのリンク -->
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number}}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% endif %}

                    <!-- ページ数表示 -->
                    {% for page_num in page_obj.paginator.page_range %}
                    {% if page_obj.number == page_num %}
                    <li class="page-item active">
                        <a class="page-link" href="#">{{ page_num }}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}

                    <!-- 次ページへのリンク -->
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                {% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock %}