{% extends 'base.html' %}

{% load static %}

{% block title %}共有詳細| 牛飲馬食{% endblock %}

{% block active_restaurant %}active{% endblock %}

{% block contents %}
<div class="container">
    <div class="my-div-style w-100">
        <h1 class="mb-4">共有詳細</h1>
        <div class="row">
            <div class="col-3">
                <strong>店舗名</strong>
            </div>
            <div class="col-9">

            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-3">
                <strong>ジャンル</strong>
            </div>
            <div class="col-9">

            </div>
        </div>

         <hr>

        <div class="row">
            <div class="col-3">
                <strong>住所</strong>
            </div>
            <div class="col-9">

            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-3">
                <strong>URL</strong>
            </div>
            <div class="col-9">

            </div>
        </div>

         <hr>

        <div class="row">
            <div class="col-3">
                <strong>電話番号</strong>
            </div>
            <div class="col-9">

            </div>
        </div>

         <hr>

        <div class="row">
            <div class="col-3">
                <strong>画像URL</strong>
            </div>
            <div class="col-9">

            </div>
        </div>

         <hr>

        <div class="row">
            <div class="col-3">
                <strong>登録日時</strong>
            </div>
            <div class="col-9">

            </div>
        </div>

        <a class="btn btn-success mt-5 mb-3" href="#">編集</a>
        <a class="btn btn-danger mt-5 ml-2 mb-3" href="#">削除</a>
        <a class="btn btn-secondary mt-5 ml-2 mb-3" href="{% url 'restaurant:share'%}">戻る</a>

    </div>
</div>
{% endblock %}